<template>
  <div class="about">
      <h1 class="display-4 text-secondary">Welcome to my Rental Tracker application where you can add, edit, and update customers. Also, track rentals allowing you to track what customer rented what movie.</h1>
  </div>
</template>
