<template>
        <div>
            <div v-if="!selectedCustomer" class="customer-list">
                <h1>Customers</h1>
                <customer-list 
                    :customers="customers" 
                    @customer-updated="handleCustomerUpdated" 
                    @customer-selected="handleCustomerSelected" />
                <button class="btn btn-dark text-warning" @click="selectedCustomer = {}">Add New Customer</button>
            </div>
            <div v-else class="customer-form">
                 <customer-form 
                    :customer="selectedCustomer" 
                    @customer-form-cancelled="selectedCustomer = null" 
                    @customer-updated="handleCustomerUpdated"/>
            </div>
        </div>  
</template>
    <script>

import {CustomerDataAccess as cd} from "@/api"
import CustomerList from '../components/CustomerList.vue'
import CustomerForm from '../components/CustomerForm.vue'
   

    export default {
        components: { 
            CustomerList, 
            CustomerForm 
        },
        data(){
            return {
            customers: [],
            selectedCustomer: null
            }
        },
        mounted(){
            cd.getAllCustomers()
            .then(response => {
                console.log(response.data);
                this.customers = response.data
            })
            .catch(error => console.log(error));
        },
        methods: {
            handleCustomerUpdated(customer){
            //console.log("Customer updated...", customer);
            if(customer.customer_id){
                    //console.log(customer.id);
                    cd.updateCustomer(customer).then(resp => {
                        // get the index of the customer to replace
                        const indexOfCustomer = this.customers.findIndex(c => c.customer_id === customer.customer_id);
                        // this.customers[indexOfCustomer] = customer; // this would work if Vue truely was reactive!!!
                        this.$set(this.customers, indexOfCustomer, customer);
                
                    });
                    this.selectedCustomer = null;
                    this.$router.go();
            }else{
                cd.insertCustomer(customer).then(resp => {
                    const newCustomer = resp.data;
                    this.$set(this.customers, this.customers.length, customer);
                    this.$router.go();
                });

                this.selectedCustomer = null;

            }
        },
            handleCustomerSelected(customer){
            //console.log("Customer selected...", customer);
            this.selectedCustomer = customer;  // we'll uncomment this in a minute
        }
        }
    }
    </script>