<template>
  <div class="home">
     <div id="home" class="container-fluid">
          <div class="spacer p-5  text-dark text-center">
              <h2 class="display-1">Movie Rental Tracker</h2>
              <h4 class="display-4 rounded text-warning bg-secondary">Manage Movie Rentals and Customers</h4>
              <img width="300" height="300" src="../assets/ticketlogo.png" alt="ticket-logo">
          </div>
      </div>
   
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {

  }
}
</script>
