<template>
    <div class="w3-padding-large" id="main">
		<main>

			<div class="content-frame">
				<h3>Page Not Found</h3>
				<p>We're sorry, we can't find the page you're looking for.</p>
			</div>
			
		</main>
</div>
</template>