 <template>
        <div>
            <div v-if="!selectedRental" class="rental-list">
                <h1>Rentals</h1>
                <rental-list 
                    :rentals="rentals" 
                    @rental-updated="handleRentalUpdated" 
                    @rental-selected="handleRentalSelected" />
                <button class="btn btn-dark text-warning" @click="selectedRental = {}">Add New Rental</button>
            </div>
            <div v-else class="rental-form">
                 <rental-form 
                    :rental="selectedRental" 
                    @rental-form-cancelled="selectedRental = null" 
                    @rental-updated="handleRentalUpdated"/>
            </div>
        </div>  
</template>
    
<script>

import {RentalDataAccess as rd} from "@/api"
import RentalList from '../components/RentalList.vue'
import RentalForm from '../components/RentalForm.vue'
   

    export default {
        components: { 
            RentalList, 
            RentalForm 
        },
        data(){
            return {
            rentals: [],
            selectedRental: null
            }
        },
        mounted(){
            rd.getAllRentals()
            .then(response => {
                console.log(response.data);
                this.rentals = response.data
            })
            .catch(error => console.log(error));
            
        },
        methods: {
            handleRentalUpdated(rental){
            //console.log("Rental updated...", rental);

                if(rental.rental_id){
                    //console.log(rental.id);
                    rd.updateRental(rental).then(resp => {
                        // get the index of the rental to replace
                        const indexOfRental = this.rentals.findIndex(r => r.rental_id === rental.rental_id);
                        // this.rentals[indexOfRental] = rental; // this would work if Vue truely was reactive!!!
                        this.$set(this.rentals, indexOfRental, rental);
                    
                    });
                    this.selectedRental = null;
                    this.$router.go();
                }else{
                    rd.insertRental(rental).then(resp => {
                    const newRental = resp.data;
                    this.$set(this.rentals, this.rentals.length, rental);
                    this.$router.go();
                });

            this.selectedRental = null;
                }
            },
            handleRentalSelected(rental){
            //console.log("Rental selected...", rental);
            this.selectedRental = rental;  // we'll uncomment this in a minute
            }
        }
            
    }

</script>