 <template>
        <label>
            <input type="checkbox" :checked="customer.active == 'yes' ? true : false" @change="handleChange" />
            Active
        </label>
       
</template>

<script>
export default {
    props:{
        customer: {
            type: Object
        }
    },
    methods:{
        handleChange(evt){
            //alert(evt.target.checked);
            this.customer.active = evt.target.checked ? "yes" : "no";
            this.$emit("customer-updated", this.customer);

            const customerCopy = {...this.customer}
            customerCopy.active = evt.target.checked ? "yes" : "no";
            this.$emit("customer-updated", customerCopy);
        }
    }
}
</script>
