<template>
     <div id="customer-list" class="container-fluid p-0">
            <!-- <h2 class="bg-secondary text-light p-2">Customer List</h2> -->
            <input class="form-control mr-sm-2" type="text" v-model="search" placeholder="Search Customers Last Name"/>
            <div class="spacer p-5 mb-5 text-light rounded text-center bg-warning">
                <table class="table table-dark table-hover h5 table-sm table-bordered p-5">
                  <thead>
                    <tr class="text-warning">
                        <th scope="col">Customer ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Active</th>
                    
                      <th scope="col">Edit Customer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <customer-list-row 
                      v-for="c in filteredCustomers" 
                      :key="c.id" 
                      :customer="c" 
                      @customer-updated="$emit('customer-updated', $event)" 
                      @customer-selected="$emit('customer-selected', $event)"/>
                  </tbody>
                </table>
            </div>
    </div>

</template>




    <script>

    import CustomerListRow from './CustomerListRow.vue'


    export default {
        components: { CustomerListRow },
        props: {
            customers:{
                type: Array
            }
        },
        data(){
          return{
            search:""
          }
        },
        computed:{
          filteredCustomers: function(){
            return this.customers.filter((customer) => {
              return customer.last_name.match(this.search);
            });
          }
        }
    }
    </script>