<template>
        <div class="customer-form-container">
            <form class="form-group" @submit.prevent="onSubmit">
                <div>
                    <label>First Name:</label>
                    <input class="form-control form-control-warning" v-model="first_name" />
                    <span class="validation" v-if="errors.first_name">{{errors.first_name}}</span>
                </div>
                <div>
                    <label>Last Name:</label>
                    <input class="form-control form-control-warning" v-model="last_name" />
                    <span class="validation" v-if="errors.last_name">{{errors.last_name}}</span>
                </div>
                 <div>
                    <label>Address:</label>
                    <input class="form-control form-control-warning " v-model="address" />
                    <span class="validation" v-if="errors.address">{{errors.address}}</span>
                </div>
                <div>
                    <label>City:</label>
                    <input class="form-control form-control-warning" v-model="city" />
                    <span class="validation" v-if="errors.city">{{errors.city}}</span>
                </div>
                
                <div>
                    <label>Email:</label>
                    <input class="form-control form-control-warning" v-model="email" />
                    <span class="validation" v-if="errors.email">{{errors.email}}</span>
                </div>
                <div>
                    <label>Phone:</label>
                    <input class="form-control form-control-warning" v-model="phone" />
                    <span class="validation" v-if="errors.phone">{{errors.phone}}</span>
                </div>
                <div>
                    <active-customer-check-box :customer="customer" @customer-updated="handleActiveUpdate" />
                </div>
                <div>
                    <input class="btn btn-warning text-dark" type="submit" id="btnSubmit" name="submit button">
                    <input class="btn btn-warning text-dark" type="button" @click="handleCancel" value="Cancel">
                </div>
            </form>
        </div>
</template>

<script>

import ActiveCustomerCheckBox from './ActiveCustomerCheckBox.vue';


export default {
    components: { ActiveCustomerCheckBox },
    props: {
        customer: {
            type: Object
        }
    },
    data() {
        return {
            customer_id: this.customer?.customer_id ?? 0,
            first_name: this.customer?.first_name ?? "",
            last_name: this.customer?.last_name ?? "",
            address: this.customer?.address ?? "",
            city:  this.customer?.city ?? "", // Default to Standard  - this smells!
            email: this.customer?.email ?? "",
            phone: this.customer?.phone ?? "",
            active:  this.customer?.active ?? "yes", // new users will default to 'active'
            errors: {} // This will be for input validation error messages
        }
    },
    methods: {
        onSubmit() {
            //alert("handle submit (make sure to validate the input");
            if(this.validate()){
                const updatedCustomer = {
                    customer_id: this.customer_id,
                    first_name: this.first_name,
                    last_name: this.last_name,
                    address: this.address,
                    city: this.city,
                    email: this.email,
                    phone: this.phone,
                    active: this.active
                };
            
            
            this.$emit("customer-updated", updatedCustomer);
            }
        },
        handleCancel(){
            this.$emit("customer-form-cancelled");
        },
          handleActiveUpdate(customer){
            this.active = customer.active;
        },

        validate() {

            // clear our any error messages from the previous submit
            this.errors = {};

            if(!this.first_name) {
                this.errors.first_name = "First name is required";
            }

            if(!this.last_name) {
                this.errors.last_name = "Last name is required";
            }

            const emailRegExp = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (!this.email) {
                this.errors.email = "Email is required";
            }else if(emailRegExp.test(this.email) == false){
                this.errors.email = "The email address is not valid";
            }

            if(!this.address){
                this.errors.address = "Address is required";
            }

            if(!this.city){
                this.errors.city = "City is required";
            }

            const phoneReg = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
            if(!this.phone){
                this.errors.phone = "Phone is required";
            }else if(phoneReg.test(this.phone) == false){
                this.errors.phone = "The phone number is not valid";
            }

            // if there are no keys in the errors object, then everything is valid
            return Object.keys(this.errors).length == 0;
        }
    }
}
</script>

    <style scoped lang="scss">
        label, .validation{ display: block; }
</style>
