 <template>
        <tr>
            <td>{{customer.customer_id}}</td>
            <td>{{customer.first_name + " " + customer.last_name }}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.active}}</td>
            <td>
                <button @click="$emit('customer-selected', customer)">Edit</button>
            </td>
        </tr>
    </template>

    <script>




    export default {
        props:{
            customer: {
                type: Object
            }
        },
        
    }
    </script>