<template>
        <div id="nav" >
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <router-link class="navbar-brand text-warning" to="/">Home</router-link> 
            <router-link class="navbar-brand text-warning" to="/about">About</router-link> 
            <span v-if="$root.currentUser">
                <router-link v-if="$root.currentUserRoleId == 2" class="navbar-brand text-warning" :to="{name: 'Users'}">Users</router-link> 
                <router-link v-if="$root.currentUserRoleId == 1 || $root.currentUserRoleId == 2" class="navbar-brand text-warning"  :to="{name: 'Rental'}">Rentals</router-link> 
                <router-link v-if="$root.currentUserRoleId == 1 || $root.currentUserRoleId == 2" class="navbar-brand text-warning" :to="{name: 'Customer'}">Customers</router-link> 
                <router-link class="navbar-brand text-warning" :to="{name: 'Account'}">Your Account</router-link> 
                <a class="navbar-brand pull-right text-warning" href="#"  @click="logout">Log Out</a> 
            </span>
            <span v-else>
                <router-link class="navbar-brand text-warning" :to="{name: 'Login'}">Login</router-link>
            </span>
            </nav>
        </div>
    </template>

    <script>
    export default {
        methods:{
            logout(){
                this.$router.push({name:"Login"});
            }
        }
    }
    </script>