<template>
        <div class="rental-form-container">
            <form class="form-group" @submit.prevent="onSubmit">
                <div>
                    <label>Movie Title:</label>
                    <input class="form-control form-control-warning" v-model="movie_title" />
                    <span class="validation" v-if="errors.movie_title">{{errors.movie_title}}</span>
                </div>
                <div>
                    <label>Due Date:</label>
                    <input class="form-control form-control-warning" v-model="due_date" />
                    <span class="validation" v-if="errors.due_date">{{errors.due_date}}</span>
                </div>
                 <div>
                    <label>Customer ID:</label>
                    <input class="form-control form-control-warning" v-model="customer_id" />
                    <span class="validation" v-if="errors.customer_id">{{errors.customer_id}}</span>
                </div>
                <div>
                    <label>Customer Name:</label>
                    <input class="form-control form-control-warning" v-model="name" />
                    <span class="validation" v-if="errors.name">{{errors.name}}</span>
                </div>
                
                <div>
                    <input class="btn btn-warning text-dark" type="submit" id="btnSubmit" name="submit button">
                    <input class="btn btn-warning text-dark" type="button" @click="handleCancel" value="Cancel">
                </div>
            </form>
        </div>
</template>

    <script>




    export default {
        components: { },
        props: {
            rental: {
                type: Object
            }
        },
        data() {
            return {
                rental_id: this.rental?.rental_id ?? 0,
                movie_title: this.rental?.movie_title ?? "",
                due_date: this.rental?.due_date ?? "",
                customer_id:  this.rental?.customer_id ?? 0, // Default to Standard  - this smells!
                name: this.rental?.name ?? "",
                errors: {} // This will be for input validation error messages
            }
        },
        methods: {
            onSubmit() {
                //alert("handle submit (make sure to validate the input");
               if(this.validate()){
                   const updatedRental = {
                    rental_id: this.rental_id,
                    movie_title: this.movie_title,
                    due_date: this.due_date,
                    customer_id: this.customer_id,
                    name: this.name
              
                    };
                 
            this.$emit("rental-updated", updatedRental);
            }

            },
            handleCancel(){
                this.$emit("rental-form-cancelled");
            },


            ///////////// dont forget to fix validation
            validate() {

                // clear our any error messages from the previous submit
                this.errors = {};

                if (!this.movie_title) {
                    this.errors.movie_title = "Movie title is required";
                }

                

                const dueDateRegExp =  /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
                if (!this.due_date) {
                    this.errors.due_date = "Due Date is required";
                }else if(dueDateRegExp.test(this.due_date) == false){
                    this.errors.due_date = "The Date is not valid";
                }

                if(!this.customer_id){
                    this.errors.customer_id = "A customer ID is required";
                }


                // if there are no keys in the errors object, then everything is valid
                return Object.keys(this.errors).length == 0;
            }
        }
    }
    </script>

    <style scoped lang="scss">
        label, .validation{ display: block; }
    </style>
