<template>
        <div id="rental-list" class="container-fluid p-0">
            <!-- <h2 class="bg-secondary text-light p-2">Rental List</h2> -->
            <input class="form-control mr-sm-2" type="text" v-model="search" placeholder="Search Rentals by Movie"/>
            <div class="spacer p-5 mb-5 text-light rounded text-center bg-warning">
                <table class="table table-dark table-hover h5 table-sm table-bordered p-5">
                  <thead>
                    <tr>
                        <th scope="col">Rental ID</th>
                        <th scope="col">Movie Title</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Customer Name</th>

                    
                      <th scope="col">Edit User</th>
                    </tr>
                  </thead>
                  <tbody>
                    <rental-list-row 
                      v-for="r in filteredRentals" 
                      :key="r.id" 
                      :rental="r"
                      @rental-updated="$emit('rental-updated', $event)" 
                      @rental-selected="$emit('rental-selected', $event)" />
                  </tbody>
                </table>
            </div>
    </div>

        
</template>




    <script>

    import RentalListRow from './RentalListRow.vue'


    export default {
        components: { RentalListRow },
        props: {
            rentals:{
                type: Array
            }
        },
        data(){
          return{
            search:""
          }
        },
        computed:{
          filteredRentals: function(){
            return this.rentals.filter((rental) => {
              return rental.movie_title.match(this.search);
            });
          }
        }
    }
    </script>