 <template>
        <tr>
            <td>{{rental.rental_id}}</td>
            <td>{{rental.movie_title}}</td>
            <td>{{rental.due_date}}</td>
            <td>{{rental.customer_id}}</td>
            <td>{{rental.name}}</td>
            <td>
                <button @click="$emit('rental-selected', rental)">Edit</button>
            </td>
        </tr>
    </template>

    <script>




    export default {
        props:{
            rental: {
                type: Object
            }
        },
        
    }
    </script>