<template>
    <div class="user-list">
        <input class="form-control mr-sm-2" type="text" v-model="search" placeholder="Search By Last Name"/>
        <table class="table table-dark table-hover h5 table-sm table-bordered p-5" border="1">
            <tr class="text-warning">
                <th scope="col">User</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Active</th>
                <th></th>
            </tr>
            <!--We'll put a sub-component here-->
            <user-list-row 
                v-for="u in filteredUsers" 
                :key="u.id" 
                :user="u" 
                @user-updated="$emit('user-updated', $event)"
                @user-selected="$emit('user-selected', $event)" />
        </table>
    </div>
</template>
<script>
import UserListRow from './UserListRow.vue'
export default {
    components: { UserListRow },
    props: {
        users:{
            type: Array
        }
    },
    data(){
          return{
            search:""
          }
        },
        computed:{
          filteredUsers: function(){
            return this.users.filter((user) => {
              return user.lastName.match(this.search);
            });
          }
        }
}
</script>