<template>
  <div id="app">
    <nav-bar/>
    <router-view/>
  </div>
</template>


<script>
import NavBar from './components/NavBar.vue'

export default {
    components: { NavBar },
}
</script>


<style lang="scss">
            @import './assets/main.scss';
</style>
